
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Welcome To Book Store</h1>
    <h1>@DateTime.Now</h1>
    <h1>@DateTime.Now.ToString("dd-M-yy")</h1>
    <h1>Sum = @(3+6)</h1>
    @{ 
        int a = 2;
        int b = 3;
        int c = a + b;
    }
    <h1>@c</h1>
    <h1>dhavalrakholiya@gmail.com</h1>
    <h1>Teitter: @@Dhaval</h1>
</body>
</html>
